
.mn-main-wrapper {
    position: fixed;
}
.mob-nav-wrapper {
    /* padding-bottom: 2rem; */
    /* border-bottom: 0.1rem solid; */
    position: relative;
    /* height: 7rem; */
    box-shadow: 0px 5px 20px 0px #0000ff57;
    background-color: transparent;
}
.mn-circle-container {
    display: flex;
    position: absolute;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 30rem; */
    overflow: hidden;
    /* width: fit-content; */
    height: 8rem;
    /* width: 154vw; */
    /* z-index: -1; */
    /* top: 1rem; */
    /* right: 38rem; */
    background-color: transparent;
}

.mn-circle-background {
    display: flex;
    position: relative;
    background-color: #171b2d;
    height: 53rem;
    width: 51rem;
    border-radius: 50%;
    top: -32rem;
    left: -13rem;
    /* position: relative; */
    top: -45rem;
    /* background-color: transparent; */
}


.mn-nav-content {
    position: relative;
    z-index: 1;
    /* top: -6rem; */
    height: 8rem;
    background-color: transparent;
}
.mn-search-location-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.mn-search-bar{
    display: flex;
    /* background-color: blueviolet; */
    position: relative;
    border:0.1rem solid black;
    padding:0rem 2rem;
    border-radius:1rem;
    background-color: white;
}
.mn-search-bar-field{
    outline: none;
    border: none;
    height: 2.5rem;
    border-radius: 0.1rem;
    font-size: 1.2rem;
}
.mn-search-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0.35rem;
    left: 0.2rem;
    width: 1.3rem;
    align-items: center;
    /* background-color: #d18d31; */
    padding: 0.3rem 0rem;
    /* filter: blur(34.8px); */
    opacity:0.5;
}
.mn-search-filter {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
}
.sort-down-solid{
    width:1rem;
    color:darkblue;
}

.mn-symbol{
    font-size: large;
    font-weight: 800;
    color:aliceblue;
}
.mn-garage-symbol-wrapper{
    
}

.mn-location-symbol{
    width:1rem;
    padding:0.8rem 1rem;
    background-color: brown;
    border-radius: 10%;
}

.mn-seller-card {
    position: relative;
    overflow-y: scroll;
    /* display: grid; */
    /* justify-content: flex-start; */
    /* scroll-snap-type: y mandatory; */
    scrollbar-width: none;
    /* scroll-snap-align: start; */
    /* align-items: center; */
    /* scroll-behavior: smooth; */
    height: 100vh;
    /* padding-bottom: 2rem; */
}

/* .icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    
    -webkit-mask: url(../../../../svgIcons/sort-down-solid.svg) no-repeat 50% 50%;
    mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  } */
