.dm-wrapper {
    display: grid;
    position: absolute;
    gap: 1rem;
    background-color: black;
    z-index: 9999999;
    top: 9rem;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 1rem 1rem 0rem 0rem;
    background: linear-gradient(to right, #2e577a,#0d182f);
    padding-bottom: 20rem;
}
.dm-garage-switch,.dm-client-switch {
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}