
.mob-nav-wrapper{
    background-color: white;
}
.mn-search-location-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.mn-search-bar{
    display: flex;
    /* background-color: blueviolet; */
    position: relative;
    border:0.1rem solid black;
    padding:0rem 2rem;
    border-radius:1rem;
}
.mn-search-bar-field{
    outline: none;
    border: none;
    height: 2.5rem;
    border-radius: 0.1rem;
}
.mn-search-icon{
    position:absolute;
    display: flex;
    top:0.5rem;
    left:0rem;
}
.mn-search-filter{
    position:absolute;
    top:0.5rem;
    right:0rem;
}