
.mob-nav-wrapper{
    padding:1rem;
    padding-bottom:2rem;
    border-bottom:0.1rem solid;
    position: relative;

}
.mn-circle-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* width: 30rem; */
    overflow: hidden;
    /* width: fit-content; */
    height: 12rem;
    /* width: 154vw; */
}

.mn-circle-background {
    display: flex;
    position: absolute;
    background-color: burlywood;
    height: 40rem;
    width: 41rem;
    border-radius: 50%;
    top: -32rem;
    /* left: -8rem; */
    /* position: relative; */
}
.mn-search-location-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.mn-search-bar{
    display: flex;
    /* background-color: blueviolet; */
    position: relative;
    border:0.1rem solid black;
    padding:0rem 2rem;
    border-radius:1rem;
}
.mn-search-bar-field{
    outline: none;
    border: none;
    height: 2.5rem;
    border-radius: 0.1rem;
}
.mn-search-icon{
    position:absolute;
    display: flex;
    top:0.5rem;
    left:0rem;
}
.mn-search-filter{
    position:absolute;
    top:0.5rem;
    right:0rem;
}